.WordGrid_location {
  position: absolute;
  left: 950px;
  top: 240px;
  right: 50px;
  height: 200px;
}

.words_information_detail {
  position: absolute;
  left: 380px;
  top: 240px;

  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.words_clickedwords_detail {
  border: 2px solid #3e2723;
  flex-basis: 100px;
  width: 500px;
  padding: 10px;
  margin: 30px;
}

.words_clickedtitle_detail {
  border: 2px solid #3e2723;
  flex-basis: 100px;
  width: 500px;
  padding: 10px;
  margin: 30px;
}

.words_clickedcontent_detail {
  border: 2px solid #3e2723;
  flex-basis: 100px;
  width: 500px;
  padding: 10px;
  margin: 30px;
}

.words_clickedimage_detail {
  position: absolute;
  left: 1050px;
  top: 270px;
}

.Location_map {
  position: absolute;
  left: 400px;
  top: 170px;
  width: 35%;
  height: 350px;
}

.Map-info {
  position: absolute;
  top: 600px;
  left: 410px;
  font-size: 20px;
  font-weight: bold;
  color: #3e2723;
}

.word-map {
  position: relative;
  right: 100px;
  top: 0px;
  width: 350px;
  height: 350px;
  left: 30px;
}

.Word_form {
  position: relative;
  width: 400px;
  left: 30px;
}

.word-desc {
  font-size: 20px;
  color: #3e2723;
}

.Content_Create {
  position: relative;
  top: 100px;
}

.word-btn {
  position: relative;
  width: 130px;
  height: 50px;
  font-size: 15px;
  background-color: #bcaaa4;
  border-radius: 10px;
  border: none;
  top: 100px;
  left: 80px;
}

.word-btn:hover {
  background-color: #f5e5e0;
}
