.home {
  color: #3E2723;
}

.home_othercolor {
  color: #BCAAA4;
}

.logo_container {
  position: relative;
  top: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
  width: 700px;
  z-index: -1;
}

.home_logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 0px 0px 0px -30px;
}

.home_uristoragekr {
  font-size: 35px;
  text-align: center;
  margin: -20px 0 0 300px;
}
/* margin: 0px 0px 0px 520px; */

.home_searchbar {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 30px 0px 30px 5px;
}

.searchbar {
  border: 2px solid #3E2723;
  height: 50px;
  width: 600px;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
}

.searchbutton {
  border: 2px solid #3E2723;
  height: 50px;
  width: 50px;
  border-radius: 0px 5px 5px 0px;
  background-color: #BCAAA4;
}

.home_randomwords_firstline {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.home_randomwords_secondline {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.randombutton {
    font-size: 3vh;
    height: 50px;
    width: 140px;
    margin: 20px 0px;
    border-radius: 10px;
    background-color: #BCAAA4;
    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 768px) {
  .searchbar {
    width: 70%;
    height: 45px;
  }

  .searchbutton {
    height: 45px;
    width: 50px;
  }

  .logo_container {
    width: 70%;
  }

  .home_randomwords_firstline {
    width: 80%;
  }
  
  .home_randomwords_secondline {
    width: 80%;
  }

  .randombutton {
    height: 50px;
    width: 110px;
    margin: 20px 0px;
    font-size: 3vh;
  }

  .home_uristoragekr {
    position: relative;
    top: 10px;
    font-size: 4vw;
    text-align: center;
    margin: 0 0 0 22vw;
  }
}

@media (max-width: 360px) {
  .searchbar {
    width: 70%;
    height: 40px;
  }

  .searchbutton {
    height: 40px;
    width: 50px;
  }

  .logo_container {
    width: 70%;
  }

  .home_randomwords_firstline {
    width: 90%;
  }
  
  .home_randomwords_secondline {
    width: 90%;
  }

  .randombutton {
    height: 40px;
    width: 70px;
    margin: 10px 0px;
    font-size: 2vh;
  }

  .home_uristoragekr {
    position: relative;
    top: 20px;
    font-size: 2vw;
    text-align: center;
    margin: 0 0 0 25vw;
  }
}

.searchbutton:hover {
  background-color: #3E2723;
  color: white;
  cursor: pointer;
}

.searchicon {
  max-width: 30px;
  max-height: 30px;
  color: white;
}

.randombutton:hover {
  background-color: #3E2723;
  color: white;
  cursor: pointer;
}

.Pub_Create {
  position: relative;
  bottom: 10px;
}