.Profile {
  position: absolute;
  left: 50px;
  top: 120px;
  bottom: 50px;
  border-right: solid 3px #3e2723;
  width: 310px;
  text-align: center;
  padding-top: 50px;
  line-height: 50px;
}

.ModifyUser {
  position: absolute;
  left: 405px;
  top: 355px;
  right: 150px;
  height: 200px;
}
