.My_Profile {
    position:absolute;
    left: 50px;
    top: 120px;
    bottom: 50px;
    border-right: solid 3px #3E2723;
    width: 310px;
    text-align: center;
    padding-top: 50px;
    line-height: 50px;
}

.My_Filter{
    position:absolute;
    left: 405px;
    top: 160px;
    right: 50px;
    font-size: 20px;
}

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_box{
    border: solid 1px #3E2723;
    border-radius: 30px;
    padding: 5px 60px;
}

.My_search_createword{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 435px;
    top: 220px;
    right: 100px;
    font-size: 20px;
}

.searchbar {
    border: 2px solid #3E2723;
    height: 50px;
    width: 680px;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
  }

.WordGrid{
    position:absolute;
    left: 405px;
    top: 355px;
    right: 150px;
    height: 200px;

}

.Consonant{
    position:absolute;
    right: 50px;
    top: 355px;
    bottom: 50px;
    border: 1px solid #5D4037;
}
/* CreateWord 페이지 */

.CreateWord{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
}

/* Canlendar 페이지 */

.My_Calendar{
    position:absolute;
    left: 405px;
    top: 355px;
}

.CreateWord_Map {
  margin: 5px;
  right: 100px;
  top: 0px;
  width: 500px;
  height: 350px;
}