#MyPage {
  padding-top: 90px;
  width: 100%;
}

.My_Nav {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  height: 70px;
}

.My_Profile {
  float: left;
  width: 25%;
  border-right: solid 2px #d7ccc8;
  height: 900px;
  text-align: center;
  padding: 50px 20px 20px 50px;
  line-height: 30px;
}

.My_Filter {
  float: left;
  width: 65%;
  height: 70px;
  font-size: 20px;
  margin: 10px 30px;
}

/*
.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_box{
    border: solid 1px #3E2723;
    border-radius: 30px;
    padding: 5px 60px;
}
*/

.My_search_createword {
  float: left;
  width: 66%;
  height: 60px;
  font-size: 20px;
  margin: 20px 40px 50px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.searchbar {
  border: 2px solid #3e2723;
  height: 50px;
  width: 650px;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
}

.My_createword {
  margin: 0px 50px;
  min-width: 75px;
}

.My_WordGrid{
    float: left;
    width: 70%;
    margin-left: 20px;
    height: 990px;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (max-width: 1200px){
  .searchbar {width: 450px;}
}

@media (max-width: 1000px){
  .My_Profile {float: left; width: 20%;}
  .searchbar {width: 450px;}
}

@media (max-width: 768px){
    .My_Filter {width: 100%;}
    .My_search_createword {width: 100%;}
    .My_WordGrid {width: 100%;}
    .My_Profile {clear: both; float: none; width: 100%; border-right: none;}
}

/* CreateWord 페이지 */

.CreateWord {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
}

.Content_Image {
  margin: 10px;
  height: 150px;
}

/* Canlendar 페이지 */

.My_Calendar {
  float: left;
  width: 70%;
}

.CreateWord_Map {
  margin: 5px;
  right: 100px;
  top: 0px;
  width: 1000px;
  height: 500px;
}


/*Filter*/

.word_btn {
  width: 50px;
  height: 30px;
  margin: 0 10px;

  color: white;
  cursor: pointer;

  font-family: "Noto Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;

  letter-spacing: 1px;
  border: none;
  border-radius: 5px;

  background: #bcaaa4;
  transition: all 0.3s ease;

  line-height: 10px;
}

.wordActive_btn {
  width: 50px;
  height: 30px;
  margin: 0 10px;

  color: white;
  cursor: pointer;

  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;

  letter-spacing: 1px;

  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;

  background: #3e2723;
  box-shadow: -1px 6px 10px 0 rgba(54, 54, 54, 0.424);

  line-height: 10px;
}