a:link {
    text-decoration: none;
  }

.word_box {
  display: flex;
  position: relative;
  border: 2px solid #3E2723;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  color: #3E2723;
  text-decoration: none;
  width: 90%;
  left: 45px;

  font-size: 20px;
}

.word_box:hover {
  background-color: #f5e5e0;
}

.word_inbox {
  border: 1.5px solid;
  border-radius: 10px;
}

.title_inbox {
  margin: 0px 0px 0px 50px;
}

.searched_none {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 150px 0px 0px 0px;
  color: #3E2723;
}