#Words {
  width: 100%;
}

.words_searchbar {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px 50px 50px 50px;
}

.words_information {
  margin: 0px 150px;
} 

.words_words_title {
  float: left;
  width: 50%;
}

.words_clickedwords {
  /* border: 1px solid #3E2723;
  flex-basis: 100px;
  border-radius: 5%;
   */
  height: 150px;
  font-size: 30px;
  font-weight: bold;
  color: #3e2723;
  border-bottom: 1px solid #efebe9;
  margin-left: 100px;
  padding: 10px 5px 10px 5px;
}

.words_nickname {
  color: black;
  font-weight: normal;
  margin-top: 5px;
  font-size: 20px;
}

.words_clickedtitle {
  font-size: 30px;
  font-weight: bold;
  color: #3e2723;
  height: 250px;
  border-bottom: 1px solid #efebe9;
  margin-left: 100px;
  padding: 10px 5px 10px 5px;
}

.words_summary {
  color: black;
  font-weight: normal;
  margin-top: 5px;
  font-size: 24px;
}

.words_clickedcontent { 
  clear: both; /*깨지는거 정리*/
  font-size: 30px;
  font-weight: bold;
  color: #3e2723;
  width: 88%;
  padding: 10px 0px 0px 5px;
  margin: 0px 100px 0px 100px;
}

.words_content {
  color: black;
  font-weight: normal;
  margin-top: 5px;
  font-size: 24px;
}

.words_clickedimage {
  float: left;
  width: 50%;
  height: 400px;
  padding: 0px 50px;
}

.words_clickedimage > img{
  position: absolute; /*자식요소*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1250px){
  .words_clickedcontent {width: 80%;}
}

@media (max-width: 800px){
  .words_words_title{width: 100%;}
  .words_clickedimage{width: 100%;}
  .words_content{width: 100%;}
}