.information {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 70px;
  font-size: 20px;
}

.profile-image {
  width: 230px;
  height: 230px;
}

.profile-image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gridcards {
  display: flex;
  justify-content: space-between;
  border: 2px solid #5d4037;
  border-radius: 10px;
  margin: auto;
  padding: 10px 5px;
  width: 90%;
  height: 150px;
}

.gridcards:hover {
  background-color: #d7ccc8;
}

.gridword {
  width: 140px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridword_box {
  font-size: 20px;
  font-weight: bold;
  width: 140px;
}

.gridsummary_change {
  width: 300px;
  height: 150px;
}

.gridsummary {
  width: 300px;
  padding: 0px 0px 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  display: flex;
  align-items: center;
  height: 100px;
}

.gridsummary_box {
  font-size: 18px;
  width: 300px;
}

.gridchange {
  padding: 0px 0px 0px 200px;
  width: 300px;
  min-width: 90px;
  height: 30px;
  font-size: 16px;
  text-align: right;
}

.gridbutton {
  border: none;
  background-color: transparent;
}

.gridbutton:hover {
  color: rgb(100, 185, 255);
  cursor: pointer;
}

.gridimage {
  width: 200px;
  height: 120px;
  margin-right: 5px;
}

.gridchange_group {
  padding: 0px 0px 0px 150px;
  width: 300px;
  min-width: 150px;
  height: 30px;
  font-size: 14px;
  text-align: right;
}

.input_word {
  width: 400px;
  height: 30px;
}

.input_summary {
  width: 400px;
  height: 30px;
}

.input_content {
  width: 550px;
  height: 250px;
  font-size: 15px;
  line-height: 17px;
}

@media (max-width: 1350px) {
  .gridimage {
    width: 25%;
  }
}

@media (max-width: 1230px) {
  .gridword {
    width: 80px;
  }
  .gridsummary {
    width: 220px;
  }
  .gridimage {
    width: 30%;
  }
  .profile-image {
    width: 180px;
    height: 180px;
  }
  .porile_select {
    width: 150px;
  }
}

@media (max-width: 1000px) {
  .profile-image {
    width: 400px;
    height: 400px;
  }
  .gridsummary {
    width: 250px;
  }
  .gridimage {
    width: 33%;
  }
  .profile-image {
    height: 300px;
  }
  .gridcards {
    padding: 0px;
    margin: auto;
  }
}

.wordgrid {
  margin-top: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.react-calendar {
  width: 800px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin: auto;
}
.react-calendar--doubleView {
  width: 800px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
.highlight {
  background: #f3a95f;
}
