a:link {
  text-decoration: none;
  color: #3E2723;
}

a:visited{
  color: #3E2723;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin: 0px 50px;
  height: 70px;
  color: #3e27239d;

  border-bottom: 5px double #3E2723;
}

.navigation_othercolor {
  color: #BCAAA4;
}

.navigation_left {
  font-size: 30px;
  font-weight: bold;
  color: #3E2723;
}

.navigation_center {
  font-size: 40px;
  font-weight: bold;
  margin: 0px 0px 0px 70px;
  color: #3E2723;
}

.navigation_right {
  position: relative;
  font-size: 20px;
  color: #3E2723;
}

.navigation_logout {
  border: none;
  background-color: white;
}

.navigation_logout:hover {
  color: rgb(100, 185, 255);
  cursor: pointer;
}